<section class="modal-data">
    <div class="content">
        <label class="title-form">{{title}}</label>
        <form [formGroup]="profileForm" (ngSubmit)="enviarDatos()">
            <label for="frm-identificationNumber">Número de Identificación:</label>
            <input type="text" formControlName="identificationNumber" id="frm-identificationNumber"
                placeholder="Escribe numero de identificación máximo 20 cáracteres">

            <label for="frm-names">Nombres:</label>
            <input type="text" formControlName="names" id="frm-names" placeholder="Escribe los nombres">

            <label for="frm-firstSurname">Primer Apellido:</label>
            <input type="text" formControlName="firstSurname" id="frm-firstSurname"
                placeholder="Escribe el primer apellido">

            <label for="frm-secondSurname">Segundo Apellido:</label>
            <input type="text" formControlName="secondSurname" id="frm-secondSurname"
                placeholder="Escribe el segundo Apellido">

            <label for=" frm-country">País:</label>
            <select formControlName="country" id="frm-country">
                <option value="">Escoje un País</option>
                <option value="USA">Usa</option>
                <option value="COLOMBIA">Colombia</option>
            </select>

            <label for=" frm-identification">Tipo de Identificación:</label>
            <select formControlName="identification" id="frm-identification">
                <option value="">Escoje una Identificación</option>
                <option value="CEDULA_DE_CIUDADANIA">cedula de ciudadania</option>
                <option value="CEDULA_EXTRANJERA">cedula extranjera</option>
                <option value="PASAPORTE">pasaporte</option>
                <option value="PERMISO_ESPECIAL">permiso especial</option>
            </select>

            <label for="frm-domain">Dominio:</label>
            <select formControlName="domain" id="frm-domain">
                <option value="">Escoje un Dominio</option>
                <option value="USA">global.com.us</option>
                <option value="COLOMBIA">global.com.co</option>
            </select>
            <label for="frm-department">Area:</label>
            <select formControlName="department" id="frm-department">
                <option value="">Escoje un Area</option>
                <option value="ADMINISTRACION">Administración</option>
                <option value="FINANCIERA">Financiera</option>
                <option value="COMPRAS">Compras</option>
                <option value="INFRAESTRUCTURA">Infraestructura</option>
                <option value="OPERACION">Operación</option>
                <option value="TALENTO_HUMANO">Talento Humano</option>
                <option value="SERVICIO_VARIOS">Servicio Varios</option>
            </select>
            <div class="options">
                <input type="submit" value="Enviar Datos" [disabled]="!profileForm.valid">
                <button class="btn-salida" type="button" (click)="salir()">Volver</button>
            </div>

        </form>

    </div>
</section>