$backgroundColor: #080A17;
$font-color: #fff;
$background-color-input: #b8b8b810;
$font-color-placeholder: #7c7dca;
$background-color-input-back: #b8b8b810;

.modal-data {
        position: fixed;
        left: 0;
        background-color: #5050506c;
        width: 100vw;
        height: 100vh;
        top: 0;
        display: flex;
        color: $font-color;

        .title-form {
                font-size: 20px;
                font-weight: bold;
                width: 100%;
                display: flex;
                justify-content: center;
        }

        .content {
                background-color: $backgroundColor;
                margin: auto;
                min-width: 250px;
                width: 50%;
                border: none;
                padding: 30px 15px 10px 15px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px #0000004d;

                form {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        label {
                                font-weight: bold;
                                margin: 8px 0;
                                font-size: 13px;
                        }

                        input[type="text"],
                        select {
                                border: none;
                                padding: 10px 5px;
                                background-color: $background-color-input;
                                border-radius: 3px;
                                line-height: 15px;
                                font-size: 12px;
                                color: $font-color;

                                &:focus {
                                        outline: 2px #6199ff solid;
                                }

                                &::placeholder,
                                option {
                                        font-size: 12px;
                                        color: $font-color-placeholder;

                                }
                        }

                        select {
                                font-size: 11px;
                        }

                        input[type="submit"],
                        button {
                                border: none;
                                padding: 10px 0;
                                transition: .2s;
                                cursor: pointer;
                                margin: 20px 0;
                                width: 100px;
                                border-radius: 5px;

                                &:hover {
                                        background: #6199ff;
                                }
                        }

                        .options {
                                display: flex;
                                justify-content: center;
                                gap: 30px;
                        }

                        .btn-salida {
                                background-color: #fd00009f;
                                color: #FFF;

                                &:hover {
                                        background: #fd0000de;
                                }
                        }
                }
        }

}