$border-color: #7b9eff;
$font_lexend: lexend, System-UI;
$font-color: #ffffff;

#app-employees {
        font-size: 12px;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        padding: 20px 0 0 0;
        background: #080A17;
        overflow: auto;
        &::-webkit-scrollbar {
                width: 10px;
                background-color: #b8b8b810;
                border-radius: 10px;

                &-thumb {
                        border-radius: 10px;
                        background: #7b9eff;
                        cursor: pointer;
                }
        }
        * {
                font-family: $font_lexend;
        }
}

.list-employees {
        position: relative;
        margin: auto;
        width: 95%;
        border-collapse: collapse;
        table-layout: fixed;

        caption {
                margin: 20px;
                font-size: 36px;
                font-weight: bold;
                font-family: 'Lexend';
                font-family: Arial, Helvetica, sans-serif;
                color: $font-color;
        }

        tr {
                border-radius: 15px;
        }

        thead {
                tr {
                        color: $font-color;
                        outline: 1px solid $border-color;
                        overflow: hidden;
                }

                th {
                        padding: 24px 0;
                        background-color: #131522;

                        &:first-child {
                                width: 40px;
                                border-radius: 15px 0 0 15px;
                        }

                        &:last-child {
                                border-radius: 0 15px 15px 0;
                        }
                }

                .employee-option {
                        width: 350px;

                        @media screen and (1350px > width >=950px) {
                                width: 250px;
                        }

                        @media screen and (950px > width >=740px) {
                                width: 120px;
                        }

                        @media screen and (740px > width) {
                                width: 80px;
                        }
                }
        }

        tbody {

                tr {
                        color: $font-color;

                        &:hover {
                                background-color: #8f8f8f10;
                                outline: 1px solid $border-color;
                        }
                }

                td {
                        padding: 0px 5px;
                        font-size: 11px;
                        overflow: hidden;
                        background-color: #b8b8b810;
                        height: 60px;

                        &:first-child {
                                border-radius: 15px 0 0 15px;
                        }

                        &:last-child {
                                border-radius: 0 15px 15px 0;
                        }
                }

                .employee-option {
                        &s {
                                display: flex;
                                gap: 10px;
                                justify-content: center;

                                @media screen and (950px > width) {
                                        flex-direction: column;

                                        button {
                                                padding: 10px 8px;
                                        }

                                }
                        }

                }

                button {
                        flex: 1;
                        font-size: 11px;
                        border: none;
                        padding: 5px 8px;
                        border-radius: 5px;
                        font-weight: bold;
                        margin: 5px 0;
                        transition: background .3s, box-shadow .3s;
                        cursor: pointer;
                        height: 40px;

                        &:hover {
                                box-shadow: 0 1px 1px rgb(0, 0, 0, .2);
                                opacity: 0.9;
                        }

                        @media screen and (740px > width) {
                                width: 70px;
                        }
                }

                .btn-update {
                        background-color: #FFC107;
                }

                .btn-entry {
                        background-color: #4CAF50;
                }

                .btn-exit {
                        background-color: #D32F2F;
                        color: #faf2f2;
                }

                .btn-delete {
                        background-color: #D32F2F;
                        color: #faf2f2;
                }
        }
}

.options {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;

        button {
                padding: 13px 35px;
                border: none;
                cursor: pointer;
                background-color: #00aeff;
                font-weight: bold;
                border-radius: 5px;

                &:hover {
                        background: #87e3ff;
                }
        }
}

#btn-new-employee {
        transition: .2s;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        margin: 20px 25px;
        border-radius: 5px;
        color: #d5f2ff;
        background: #3e0acc;

        &:hover {
                color: #d5f2ff;
                background: #3e0acc;
                opacity: .8;
        }

}